<div class="footer">
  <div class="footer-links">
    <%= link_to "Terms of service", "#" %>
    <%= link_to "About us", "#" %>
    <%= link_to "Contact us", "#" %>
  </div>
  <div class="footer-socials">
    <%= link_to "#" do %>
       <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fab fa-twitter"></i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fab fa-facebook-f"></i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fab fa-pinterest-p"></i>
    <% end %>
  </div>
</div>
