<div class="navbar-top">
  <%= link_to root_path do %>
    <i class="fas fa-utensils" id="logo"></i>
  <% end %>

  <div class="navbar-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= link_to "Add a meal", new_meal_path, class: "navbar-item navbar-link" %>
         <%= link_to "Dashboard", dashboard_path(meals: true), class: "navbar-item navbar-link" %>
           <%= link_to "Log Out",  destroy_user_session_path, method: :delete, class: "navbar-item navbar-link" %>
             <% if current_user.meal_orders.any? %>
                <%= link_to 'View basket', order_path(current_user.orders.last), :class=> " navbar-item btn-all" %>
              <% end %>
    <!--   <#% else %>
        <%#= link_to "Become a chef", new_meal_path, class: "navbar-item navbar-link" %>
        <%#= link_to "Sign In",  new_user_session_path, class: "navbar-item navbar-link" %>
      <%# end %> -->
    <% else %>
      <%= link_to "Become a chef", "#", id: 'become-a-chef', class: "navbar-item navbar-link", data: { toggle: 'modal', target: '#myModal' } %>
      <%= link_to "Sign In",  new_user_session_path, id: 'sign-in-navbar-link', class: "navbar-item navbar-link", data: { toggle: 'modal', target: '#myModal' } %>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to "Add meal", new_meal_path, class: "navbar-item navbar-link" %></li>
          <li><%= link_to "Log Out",  destroy_user_session_path, method: :delete, class: "navbar-item navbar-link" %></li>
          <li><%= link_to "Dashboard", dashboard_path(meals: true), class: "navbar-item navbar-link" %></li>
        <% else %>
          <li><%= link_to "Sign In",  new_user_session_path, id: 'sign-in-navbar-link', class: "navbar-item navbar-link", data: { toggle: 'modal', target: '#myModal' } %></li>
          <li><%= link_to "Become a chef", "#", id: 'become-a-chef', class: "navbar-item navbar-link", data: { toggle: 'modal', target: '#myModal' } %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render 'shared/sign_in_modal' %>
