<div class="navbar-top">
  <%= link_to root_path do %>
   <i class="fas fa-utensils" id="logo"></i>
  <% end %>


  <div class="navbar-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= link_to "Add a meal", new_meal_path, class: "navbar-item navbar-link" %>
         <%= link_to "Dashboard", dashboard_path(meals: true), class: "navbar-item navbar-link" %>
           <%= link_to "Log Out",  destroy_user_session_path, method: :delete, class: "navbar-item navbar-link" %>
      <% else %>
        <%= link_to "Become a chef", new_meal_path, class: "navbar-item navbar-link" %>
        <%= link_to "Sign In",  new_user_session_path, class: "navbar-item navbar-link" %>
      <% end %>

    <div class="navbar-wagon-item">
      <div class="dropdown">
    <!--     <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->
        <!-- <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul> -->
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to "Add meal", new_meal_path, class: "navbar-item navbar-link" %></li>
          <li><%= link_to "Log Out",  destroy_user_session_path, method: :delete, class: "navbar-item navbar-link" %></li>
          <li><%= link_to "Dashboard", dashboard_path(meals: true), class: "navbar-item navbar-link" %></li>
        <% else %>
          <li><%= link_to "Sign In",  new_user_session_path, class: "navbar-item navbar-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
