

<%#= form_tag orders_path do %>
  <%#= hidden_field_tag 'meal_id', @meal.id %>
  <%#= submit_tag 'Purchase', class: 'btn btn-primary' %>
<%# end %>

<div class="basket-container">
  <h1> Basket </h1>
  <ul>
    <li>Status: <%= @order.status %></li>
    <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
  <ul>

  <div class="content">
    <% @order.meal_orders.each do |meal_order| %>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-4">
          <%= meal_order.meal.name %>
          <%# if meal_order.meal.dietary.present? %>
            <%#= meal_order.meal.dietary%>
          <%# end %>
          <%= meal_order.quantity %>
        </div>
      </div>
    <% end %>


    <%= link_to "add more recipes", meals_path %>
   </div>
   <!-- <div class="amount">
     @order
   </div> -->
<!-- app/views/payments/new.html.erb -->
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My meal"
    data-email="<%= current_user.email %>""
    data-amount="<%= @order.amount_cents %>"
    data-currency="<%= @order.amount.currency %>"></script>
<% end %>


 </div>
