

<% if top_chef.photo? %>
  <% photo = cl_image_path top_chef.photo %>
<% else %>
  <% photo = "https://images.unsplash.com/photo-1482932973216-15c6808e8691?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=601b630df8bea4fbc1628b410c32376f&auto=format&fit=crop&w=967&q=80" %>
<% end %>


<div class="home-section">
  <div class="bigger-card" style="background-image: url(<%= photo %>)">

    <div class="description">
      <p></p>
    </div>
    <div class="lower-card">
      <h2><%= top_chef.first_name.upcase %></h2>
      <div>
        <span><%# meal.price %></span>
        <i class="far fa-heart"></i>
      </div>
    </div>
  </div>

  <div class="cards-home">
    <% four_meals.each do |meal| %>
    <% if meal.photo? %>
      <% photo2 = cl_image_path four_meals.photo %>
    <% else %>
      <% photo2 = "https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9647d95a500b5e222258fb03ed086ed1&auto=format&fit=crop&w=700&q=80" %>
    <% end %>
      <div class= "card" style= "background-image: url(<%= photo2 %>)">
        <%= link_to "", meal_path(meal), class: "card-link" %>
          <div class="description">
            <p><%#= meal.description %></p>
          </div>
          <div class="lower-card">
            <h2><%= meal.name.upcase %></h2>
          <div>
            <span>£<%= meal.price %></span>
            <i class="far fa-heart"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>








