
<h1><%= current_user.first_name %> <%=current_user.last_name%></h1>
<%# if current_user.photo? %>
<%#= current_user.photo %>
 <%# end %>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#mealsihaveordered" aria-controls="mealsihaveordered" role="tab" data-toggle="tab">Meals I have ordered</a></li>
    <li role="presentation"><a href="#cookedbyme" aria-controls="cookedbyme" role="tab" data-toggle="tab">Cooked by me</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><%= link_to "Edit your profile", edit_user_registration_path %></li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"></div>

    <div role="tabpanel" class="tab-pane" id="mealsihaveordered">

      <% current_user.orders.each do |order| %>
       <%# if order.status == "paid"%>
        <h3>Order <%= order.id%></h3>
        <% order.meals.each do |meal|%>
          <p><%= meal.name %></p>
          <p><%= meal.description %></p>
          <%= link_to "show", order_path(order)  %>
        <% end %>
        <%# end %>
      <% end %>
    </div>


    <div role="tabpanel" class="tab-pane" id="cookedbyme">
  <ul>
        <% current_user.meals.each do |meal| %>
          <li>
            <p><%= meal.name %></p>
            <p><%= meal.description %></p>
            <p><%= meal.portions_left %></p>
            <%= link_to "Edit this meal", edit_meal_path(meal) %>
            <%= link_to "Delete this meal", meal_path(meal) , method: :delete, data: { confirm: "Are you sure you want to delete this meal?"} %>
          </li>
        <% end %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">
      <div class="ui segment">
       <h3>Mailbox</h3>
       <div class="ui list">
        <div class="item">
         <% @conversations.each do |conversation| %>
         <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <%= link_to recipient.first_name,   conversation_messages_path(conversation)%>
         <% end %>
        <% end %>
        </div>
       </div>
      </div>
    </div>


  </div>

</div>
