<%= simple_form_for(meal) do |f| %>
  <div class="forminputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :ingredients %>
    <%= f.input :price %>
    <%= f.input :portions_left %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :cuisine %>
    <%= f.simple_fields_for :meal_dietaries do |dietaries_form|%>
      <%= dietaries_form.collection_check_boxes :dietaries, @dietaries, :to_param, :name, { checked: meal.dietaries.map(&:to_param) } %>
    <% end %>
  </div>

  <div class="text-center">
    <%= f.button :submit, class: "btn btn-all" %>
  </div>
<% end %>


<!-- collection: Tag.all, as: :check_boxes -->
<!-- input_html: { multiple: true } -->
