<%= simple_form_for(meal) do |f| %>
  <div class="forminputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :ingredients %>
    <%# f.input :price %>
    <%= f.input :portions_left %>
    <%# f.input :photo %>
    <%= f.input :cuisine %>
    <%= f.simple_fields_for :meal_dietaries do |dietaries_form|%>
      <%= dietaries_form.input :dietaries, collection: @dietaries, input_html: { multiple: true } %>
    <% end %>
  </div>

  <div class="text-center">
    <%= f.button :submit, class: "btn btn-all" %>
  </div>
<% end %>
