

<div class="index-container">
  <div class="index-cards">
    <h1>Homemade meals around you</h1>

    <%= form_tag meals_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :location,
        params[:location],
        class: "nav-input",
        placeholder: "Filer by location"
      %>

      <%= text_field_tag :cuisine,
        params[:cuisine],
        class: "nav-input",
        placeholder: "Filer by cuisine type"
      %>

      <%= select_tag :dietary, options_from_collection_for_select(@dietaries, :id, :name, params[:dietary]), {:include_blank => 'Select dietary', :class => 'nav-input'} %>

      <%= button_tag(type: "submit", class: "btn-all") do %>
        <i class="fas fa-search"></i>
      <% end %>


    <% end %>
    <div class="row">
      <% @meals.each do |meal|%>
        <div class="col-xs-12 col-sm-4">

        <% if meal.photo? %>
          <% photo = cl_image_path meal.photo %>
        <% else %>
           <% photo = "https://images.unsplash.com/photo-1513442542250-854d436a73f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5167e6cd95a3a6107cb3964fc7fb5d12&auto=format&fit=crop&w=858&q=80" %>
        <% end  %>

        <div class="card-index" style= "background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(69,68,68,0.8) 100%), url('<%= photo %>')">
          <div class="meal-card-content">
           <%= link_to meal.name, meal_path(meal) %>
           <%= meal.cuisine %>
           <% meal.dietaries.each do |dietary| %>
            <%= dietary.name %>
           <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div
  class="index-map"
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>







