<div class="banner-wrapper">
  <% meal_photo =  @meal.photo? ? @meal.photo : "https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74ac7c1aa35dc36f50cc1ac7517c70a7&auto=format&fit=crop&w=500&q=60" %>
  <div class="banner-show content-bottom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path meal_photo, quality: "auto" %>');">
  </div>
  <div class="container">
    <div class="header">
      <%# if @meal.user.photo? %>

      <p><%#= cl_image_tag @meal.user.photo, class: "avatar" %></p>
      <p><%#= @meal.user.first_name %></p>
      <%# end %>
    </div>
    <h1><%= @meal.name%></h1>
    <p>Find me in app/views/meals/show.html.erb</p>
    <p><%= @meal.description %></p>
    <p><%= @meal.ingredients %></p>
    <p><%= @meal.portions_left %></p>
    <p><%= link_to "index", meals_path%></p>
    <p><%= link_to "home", root_path%></p>

    <% if user_signed_in? %>
      <%= render "order_form"%>


      <% if @meal.orders.select { |order| order.status == "paid" }.map(&:user_id).include?(current_user.id) %>
        <h3>How was your order from <%=@meal.name%>? </h3>

        <%= simple_form_for [@meal, @meal_review], method: :post do |f| %>
          <%= f.input :quality, collection: 1..5 %>
          <%= f.input :portion_size, collection: 1..5 %>
          <%= f.input :rating, collection: 1..5 %>
          <%= f.input :comment %>
          <%= f.button :submit, class: "btn btn-all" %>
        <% end %>
      <% end %>

      <% if @order.length == 1 %>
        <%= link_to "cart", order_path(@order[0]) %>
      <% end %>

      <h1>Reviews</h1>

      <% if @meal.meal_reviews != [] %>
        <% @meal.meal_reviews.each do |review| %>
          <p>Quality : <%= review.quality %></p>
          <p>Portion Size : <%= review.portion_size %></p>
          <p>Rating : <%= review.rating %></p>
          <p>Comment : <%= review.comment %></p>
        <% end %>
      <% else %>
        <p>There are no reviews</p>
      <% end %>

      <!-- <p><%#= link_to "Edit your password", edit_user_registration_path %></p> -->

    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-success" %>
    <% end %>
    <!-- if statement must be implemented so that you can only review once ordered -->
</div>
