
<div>
  <% if @meal.photo %>
    <%= cl_image_tag @meal.photo %>
  <% else %>
    <%= image_tag("https://images.unsplash.com/photo-1512200937580-db88be2072a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5723ce354fe89b0e9c10e43e4863a379&auto=format&fit=crop&w=1955&q=80") %>
  <% end %>
</div>

<div class="header">
  <%# if @meal.user.photo? %>
  <p><%#= cl_image_tag @meal.user.photo, class: "avatar" %></p>
  <p><%#= @meal.user.name %></p>
  <%# end %>
</div>


<h1><%= @meal.name%></h1>
<p>Find me in app/views/meals/show.html.erb</p>
<p><%= @meal.description %></p>
<p><%= @meal.ingredients %></p>

<!-- <p><%= @meal.user.email %></p> -->

<p><%= link_to "index", meals_path%></p>
<p><%= link_to "home", root_path%></p>
<%= render "order_form"%>

<!-- if statement must be implemented so that you can only review once ordered -->

<h3>Write your review for <%=@meal.name%> </h3>
<%= simple_form_for [@meal, @meal_review], method: :post do |f| %>
  <%= f.input :rating %>
  <%= f.input :comment %>
  <%= f.input :speed %>
  <%= f.input :quality %>
  <%= f.input :portion_size %>
  <%= f.button :submit, class: "btn btn-all" %>
<% end %>

<h1>Reviews</h1>

<% @meal.meal_reviews.each do |review| %>
   <h2>Review <%= review.id %> </h2>
  <p>Rating : <%= review.rating %></p>
  <p>Comment : <%= review.comment %></p>
  <p>Speed : <%= review.speed %></p>
  <p>Quality : <%= review.quality %></p>
  <p>Portion Size : <%= review.portion_size %></p>
<% end %>

<p><%= link_to "Edit your password", edit_user_registration_path %></p>
